@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');
.detailed-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 900px;
    border: 2px solid #740001;
    height: 700px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    position: relative;
    z-index: 3;
    font-family: "Henny Penny", cursive;
  
   
  
    &__image {
      width: 280px;
      height: 200px;
     
    }
  
    &__name {
      text-align: center;
      font-size: 30px;
      color: #740001;
      text-decoration-line: underline;

      &-link{
      text-decoration: none;
      }
    }
  
   &__teacher, &__category, &__level {
      text-align: center;
      color: white;
    }
    
    &__information{
    max-width:500px;
    color: white;
    font-size: 1.25rem;
    font-family: cursive;
  }
    
  }