@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

.form-container{
   
    &__title{
        font-family: "Henny Penny", cursive;
        color: #D3A625;
        display: flex;
        justify-content: center;
        text-decoration: underline;
        text-decoration-color: #740001;
    }

     &__form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 500rem;
        gap: 1.75rem;
     }

     &__input{
        width: 25rem;
        height: 1.5rem;
        padding: 0.5rem;
        font-family: cursive;
     }

     &__input--info{
        width:25rem;
        height: 11rem;
        scroll-behavior: auto;
        resize: none;
        padding: 0.5rem;
        font-family: cursive;
        
    
   
   
     }

     &__button{
        background: #740002;
      border: 2px solid #740001;
      padding: 0.5em 2em;
      color:#D3A625;
      font-family: "Henny Penny", cursive;
      font-size: 1.5rem;
     }
}