.search-bar__input {
    text-align: center;
    align-items: center;
    width: 30rem;
    height: 2rem;
    border: 2px solid maroon;
  }

  .search-bar {
    text-align: center;
    padding-bottom: 2rem;
  }